.movie-detail-main-container{
    padding: 15vh 5rem;
    background: #3a3b3c;
    height: 100vh;
}

.movie-detail-container{
    display: flex;
    color:white
}

.movie-detail-container-img > img {
    width: 25vw;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.movie-detail-container-info{
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    justify-content: center;
    gap: 2rem;
}

.movie-title{
    font-size: 2rem;
    font-weight: 700;
}

