.movie-detail-main-container{
    padding: 15vh 5rem;
    background: rgb(36,37,38);
    background: -moz-linear-gradient(180deg, rgba(36,37,38,1) 0%, rgba(1,0,17,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(36,37,38,1) 0%, rgba(1,0,17,1) 100%);
    background: linear-gradient(180deg, rgba(36,37,38,1) 0%, rgba(1,0,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242526",endColorstr="#010011",GradientType=1);
}

.movie-detail-container{
    display: flex;
    color:white
}

.movie-detail-container-img > img {
    width: 25vw;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.movie-detail-container-info{
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    justify-content: center;
    gap: 2rem;
}

.movie-title{
    font-size: 2rem;
    font-weight: 700;
}

