.main-movie-container{
    padding-top: 15vh;
    background: #3a3b3c;
}

.movie-container{
    padding: 0 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 20vw));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.movie-card {
    width: 100%;
    color: white;
    background: #ffffff1a;
    box-shadow: 0 2px 10px 0 #242526;
    border-radius: 10px;
    border: 1px solid #ffffff2e;
    padding: 1rem 1rem;
    transition: box-shadow 300ms ease-in-out;
}

.movie-card:hover {
    box-shadow: 0 2px 10px 0 var(--text-color);
}

.movie-card > a > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform ease-in-out 0.5s;
}

.movie-card > a > img:hover{
    transform: scale(1.01);
}

.movie-container-title{
    color:white;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 10vw;
}