:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 10vh;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }


.navigation-bar{
    position: fixed;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em 2.5em;
    height: var(--nav-size);
}

.navigation-logo > a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.navigation-menu{
    display: flex;
    gap: 1em;
    color: var(--text-color);
}

#login-btn{
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.user-container{
    width: 20vw;
    display: flex;
    gap:1.5em;
    align-items: center;
    justify-content: center;
}
.profile-picture-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture-container > img{
    width: calc(var(--nav-size) * 0.5);
    min-height: auto;
    border-radius: 100%;
}



.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--bg-accent);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    cursor: pointer;
  }
  
  .icon-button:hover {
    filter: brightness(1.2);
  }
  
  .icon-button svg { 
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }

.dropdown{
    position: absolute;
    top: 9vh;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}

.menu-item {
    height: 50px;
    display:flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
    gap:0.5rem;
}

.menu-item:hover{
    background-color: #525357;
}